@model IEnumerable<CompanyModel>


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }
    </style>
</head>
<body>
    <h1>Number of Records Found : @Model.Count(); </h1>

    <div style="overflow-x:auto;">
        <table>
            <tr>

                <th>company_id</th>
                <th>comapny_name</th>
                <th>company_founded_on</th>
                
            </tr>
            @foreach (var cmp in @Model.ToList())
            {
                <tr>

                    <th>@cmp.comapny_id</th>
                    <th>@cmp.comapny_name</th>
                    <th>@cmp.company_founded_on</th>
                    
                </tr>
            }
        </table>
    </div>

</body>
</html>

